<script type="text/template" id="MainViewTemplate">
    <!-- <div class="osCart"> -->
    <div class="osCart-wrap">
        <div class="osCart-title"></div>

        <div class="osCart-items">
            <% _.each(items, function(el,key){ %>
            <div class="osCart-item">
                <img class="osCart-image" src="<%- el.img %>" alt="">
                <div class="osCart-itemdetails">
                    <a href="#" class="osCart-link__remove" data-index="<%- key %>">x</a>
                    <a href="<%- el.url %>" class="osCart-link"><%= el.title %></a>
                    <% if(!_.isUndefined(el.size)){ %>
                    <div class="osCart-note">Größe: <%= el.size %></div>
                    <% } %>
                    <div class="osCart-note">Anzahl: <%= el.number %></div>
                </div>
                <div class="osCart-price"><%= el.price %> <%= currency %></div>
            </div>
            <% }) %>
        </div>

        <div class="osCart-total"></div>
        <button class="osCart-button__submit">Submit</button>
        <button class="osCart-button__clear">Clear</button>
    </div>
    <!-- </div> -->
</script>

<script type="text/template" id="TotalViewTemplate">
    Gesamtsumme: <%= total %>
</script>

<script type="text/template" id="TitleViewTemplate">
    <% if(count>0){ %>
    <%= site %> - <%= count %>
    <% } else { %>
    Cart is empty.
    <% } %>
</script>

<script type="text/template" id="SlideViewTemplate">
    <div class="osCart-item">
        <img class="osCart-image" src="<%- el.img %>" alt="">
        <div class="osCart-itemdetails">
            <a href="#" class="osCart-link__remove" data-index="<%- key %>">x</a>
            <a href="<%- el.url %>" class="osCart-link"><%= el.title %></a>
            <% if(!_.isUndefined(el.size)){ %>
            <div class="osCart-note">Größe: <%= el.size %></div>
            <% } %>
            <div class="osCart-note">Anzahl: <%= el.number %></div>
        </div>
        <div class="osCart-price"><%= el.price %> <%= currency %></div>
    </div>
</script>