#_head #_center ._info{
	margin: 0px 0 0 58px;
}

@font-face {
    font-family: 'IcoMoon';
    src: url("http://www.wenz.catalogi.ru/static/fonts/icomoon.woff");
    font-weight: normal;
    font-style: normal
}
